.app {
  margin: 5px;
}

.flexbox-container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.network-panel {
  margin-top: 5em;
}

.master-chrono-form {
  margin-top: 1em;
}

.pure-form input {
  color: black;
}

.pure-form button[type="submit"] {
  margin: unset;
}

.pure-form legend {
  color: unset;
}

.pure-form .button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.message-error {
  background: rgb(223, 117, 20);
  margin: 1em 0;
  padding: 1em;
  border-radius: 3px;
  color: #fff;
}

.loader {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.loader img {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 30px;
}
