.flexbox-form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flexbox-pack{
  display: flex;
  justify-content: center;
}


.flex-auto{
  flex:auto;
}

.w-4 {
  width: 4rem;
}

.min-h-15vh {
  min-height: 15vh;
}

.min-w-15wh{
  min-width: 15vw;
}