.flexbox-form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flexbox-pack{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-inputs input {
  text-align: center;
}


.flex-auto{
  flex:auto;
}

.w-4 {
  width: 4rem;
}

.min-h-inputs {
  min-height: 5vh;
}

.min-h-controls {
  min-height: 7vh;
}

.min-w-15wh{
  min-width: 15vw;
}